 
 * {
    font-family:georgia;
 }

h1 {
    color: blue;
    font-family:arial;
    font-size: 36px;
    text-align:center;
}

.size {
    font-size: 24px;
}

h2,
h3 {
    color:rgb(0, 134, 134);
    font-family:verdana;
}

#aqua {
    background-color: aquamarine;
}

#aqua strong,
#aqua em {
    background-color:rgb(11, 221, 221);
}

.bold {
    font-weight:700;
}

.bold#big {
    font-size:28px;
}